
@{
    ViewBag.Title = "ผลงานนักศึกษา";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="content">
    <header class="header1">
        <h1 class="page-title">ผลงานนักศึกษา</h1>
    </header>
    <br />

    <div class="row">
        <div class="col-md-6" style="float: right;">
            @using (Html.BeginForm("IndexUser", "Projects"))
            {
                <div class="col-sm-2 col-md-2" style="float: right;padding-left:0px;padding-right:0px">
                    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> ค้นหา</button>
                </div>
                <div class="col-sm-5 col-md-5" style="float: right; width: 35%;padding-left: 0px;">
                    @Html.TextBox("options2", "", new { @class = "input-textbox", @placeholder = "ป้อนข้อมูลเพื่อค้นหา" })
                </div>
                <div class="col-sm-5 col-md-5" style="float: right;width: 35%;padding-left: 0px;">
                    @Html.DropDownList("options1", new List<SelectListItem>()
                    {
                        new SelectListItem() {Text = "ค้นหาตามชื่อ", Value = "name"},
                        new SelectListItem() {Text = "ค้นหาตามปี", Value = "year"}
                    }, new { @id = "options1", @class = "form-control" })
                </div>
            }
        </div>
    </div>
    
    <div class="row">
        <br />
        <div class="col-md-12" style="padding-right: 0px;
        padding-left: 0px;">
            @{
                foreach (var item in ViewBag.ProjectCount)
                {
                        <div class="col-md-4">
                            <div class="box box-widget widget-user-2">
                                            <div class="profile-widget bg-yellow">
                                                <div class="profile-img">
                                                    <img class="img-circle" style="height:80px;" img src="~/img/@item.Stu_Img" />
                                                </div>
                                                <div style="margin-left:10px;padding-left:10px">
                                                    <p3-bold>@item.Stu_Name @item.Stu_Surname</p3-bold><br />
                                                    <p3-bold>@item.Pj_StuID</p3-bold><br />
                                                    <p5>เรื่อง : @item.Pj_NameTH</p5>
                                                </div>
                                            </div>
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked">
                                        <li><a target="_blank" href="@item.Pj_Linkweb">เว็บไซต์<span class="pull-right badge bg-blue">เข้าชม</span></a></li>
                                        <li>
                                            <a target="_blank" href="@Url.Action("forpdfview", "Projects")?id=@item.Pj_File">
                                                รูปเล่ม
                                                <span class="pull-right badge bg-aqua">เข้าชม</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn_4 video-btn" alt="video" data-toggle="modal" data-src="https://www.facebook.com/plugins/video.php?href=https://web.facebook.com/kru.cs/videos/@item.Pj_Video/" data-target="#myModal">
                                                วิดีโอ
                                                <span class="pull-right badge bg-green">เข้าชม</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                }
            }
        </div>
    </div>
    <!-- Modal Video -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modelClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="videos" scrolling="no" src="" allowscriptaccess="always" allowFullScreen="true"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }

    .close {
        position: absolute;
        right: 1%;
        top: 0;
        z-index: 999;
        font-size: 4rem;
        font-weight: normal;
        color: black;
        opacity: 1;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // Gets the video src from the data-src on each button

        var $videoSrc;
        $('.video-btn').click(function () {
            $videoSrc = $(this).data("src");
            $("#videos").attr('src', $videoSrc);
        });
        // when the modal is opened autoplay it
        //$('#myModal').on('shown.bs.modal', function () {
        //})

        // stop playing the youtube video when I close the modal
        $('#myModal').on('hide.bs.modal',
            function () {
                // a poor man's stop video
                $("#videos").attr('src', $videoSrc);
            });

        $('#modelClose').click(function () {
            $("#videos").attr('src', $videoSrc);
        });
        // document ready
    });

</script>