@model IEnumerable<CSManagement.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.New_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.New_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_Img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.New_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.New_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.New_ID })
        </td>
    </tr>
}

</table>
