@model CSManagement.Models.Picture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pic_Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pic_Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pic_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pic_Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pic_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
