@model IEnumerable<CSManagement.Models.Picture>
   

<style>
    .carousel .item img {
        margin: 0 auto;
    }
</style>

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="box-title">จัดการรูปภาพประชาสัมพันธ์</h1>
                    <div style="float:right">
                        <input class="btn btn-default" type="button" value="สมัครเรียน" onclick="window.location.href = '@Url.Action("GoRegister", "Pictures" )'" />
                        <a class="btn btn-success" href="@Url.Action("Create", "Pictures")"><i class="fa fa-plus"></i> เพิ่มรูปภาพ</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="myCarousel" class="carousel slide vertical" data-ride="carousel" style="overflow: hidden">
            <ol class="carousel-indicators">
                @for (int j = 0; j < ViewBag.Count; j++)
                {
                    <li data-target="#myCarousel" data-slide-to="@j" class="@(j == 0 ? "active" : string.Empty)"></li>
                }
            </ol>
            <div class="carousel-inner">
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                    <div class="item @active">
                        <img src="~/imgSlideShow/@item.Pic_Img" style="width:800px; height:400px" />
                    </div>
                }
            </div>
            <a class="left carousel-control" data-target="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>



        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center">ที่</th>
                        <th style="text-align:center">@Html.DisplayNameFor(model => model.Pic_Img)</th>
                        <th style="text-align:center">@Html.DisplayNameFor(model => model.Pic_Name)</th>
                        <th style="text-align:center">จัดการข้อมูล</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center">@(i++)</td>
                            <td>@Html.DisplayFor(modelItem => item.Pic_Img)</td>
                            <td>@Html.DisplayFor(modelItem => item.Pic_Name)</td>
                            <td style="text-align:center">
                                <div class="delete-section">
                                    @*<a class="btn btn-info" href="@Url.Action("Details", "Pictures", new { id = item.Pic_ID })"><i class="fa fa-list-ul"></i> รายละเอียด</a>*@
                                    <a class="btn btn-primary delete-link" href="@Url.Action("Delete", new {id = item.Pic_ID})"><i class="fa  fa-trash-o"></i> ลบข้อมูล</a>
                                    <div class="btn btn-danger delete-confirm" style="display:none" data-delete-id="@item.Pic_ID"><i class="fa  fa-trash-o"></i> ยืนยันการลบ</div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
    $(function () {
        $("a.delete-link").click(function () {
            var deleteLink = $(this);
            deleteLink.hide();
            var confirmButton = deleteLink.siblings(".delete-confirm");
            confirmButton.show();

            var cancelDelete =  function () {
                removeEvents();
                showDeleteLink();
            };

            var deleteItem = function () {
                removeEvents();
                confirmButton.hide();
                $.post(
                    '@Url.Action("Delete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = deleteLink.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            };

            var removeEvents = function () {
                confirmButton.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                confirmButton.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

            confirmButton.on("click", deleteItem);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
    </script>
}
