@using System.Web.UI.WebControls
@model CSManagement.Models.History

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-family: 'Kanit', sans-serif">เพิ่มข้อมูลการทำงานศิษย์เก่า</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="font-size:15px">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.HIS_StuID, "ชื่อนักศึกษา", htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HIS_StuID, new { htmlAttributes = new { @class = "form-control", @id = "Stu_Name", @PlaceHolder = "กรุณากรอกชื่อนักศึกษา เช่น สมชาย" } })
                        @Html.ValidationMessageFor(model => model.HIS_StuID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.HIS_Company, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HIS_Company, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HIS_Company, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.HIS_Job, "ประเภทงานที่ทำ", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("HIS_Job", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HIS_Job, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.HIS_Jobname, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HIS_Jobname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HIS_Jobname, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.HIS_Year, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.HIS_Year, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "ใส่เฉพาะปี(จำไม่ได้ไม่ต้องใส่)" } })
                        @Html.ValidationMessageFor(model => model.HIS_Year, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr />
                <div class="text-center">
                    <button type="submit" class="btn btn-success col-md-3" style="float:right;font-size:18px"><i class="fa fa-save"></i> บันทึกข้อมูล</button>
                    <a class="btn btn-default col-md-3" style="float:left;font-size:18px" href="@Url.Action("Index", "Histories")"><i class="fa fa-mail-reply "></i> ย้อนกลับ</a>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>
    $("#Stu_Name").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue","Histories")',
                dataType: "json",
                data: { search: $("#Stu_Name").val() },
                success: function(data) {
                    response($.map(data,
                        function(item) {
                            return { label: item.Stu_Name, value: item.Stu_ID };
                        }));
                },
                error: function(xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
</script>
