@model CSManagement.Models.History

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HIS_Jobname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIS_Jobname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIS_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIS_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIS_Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIS_Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job.JOB_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JOB_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Stu_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Stu_Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HIS_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
