@model CSManagement.Models.ComputerEquipment

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="box-title" style="font-family: 'Kanit', sans-serif">รายละเอียดข้อมูลครุภัณฑ์</h1>
                    <div style="float: right">
                        <td>
                            @* 1 = อยู่ในระบบ / 2 = จำหน่ายแล้ว / 3 = รอดำเนินการ *@
                            @if (Model.CE_Status == 1)
                            {
                                <a class="btn btn-default" href="@Url.Action("Index", "ComputerEquipments")"><i class="fa fa-mail-reply "></i> ย้อนกลับ</a>
                                <a class="btn btn-danger" href="@Url.Action("Dispose", "ComputerEquipments", new {id = Model.CE_ATNO})"><i class="fa  fa-user-times"></i> จำหน่ายครุภัณฑ์</a>
                            }
                            else if (Model.CE_Status == 2)
                            {
                                <a class="btn btn-default" href="@Url.Action("Index", "ComputerEquipments")"><i class="fa fa-mail-reply "></i> ย้อนกลับ</a>
                            }
                            else if (Model.CE_Status == 3)
                            {
                                <a class="btn btn-default" href="@Url.Action("Index", "ComputerEquipments")"><i class="fa fa-mail-reply "></i> ย้อนกลับ</a>
                                <a class="btn btn-danger" href="@Url.Action("Dispose", "ComputerEquipments", new {id = Model.CE_ATNO})"><i class="fa  fa-user-times"></i> จำหน่ายครุภัณฑ์</a>
                            }
                        </td>
                        </div>
                </div>
            </div>
        </div>

        <div class="box-body">
            <table id="w0" class="table table-striped table-bordered detail-view" style="font-size:18px">
                <tbody>
                    <tr>
                        <th style="padding: 10px 50px 10px 50px">@Html.DisplayNameFor(model => model.CE_NO)</th>
                        <td>@Html.DisplayFor(model => model.CE_NO)</td>
                    </tr>

                    <tr>
                        <th style="padding: 10px 50px 10px 50px">@Html.DisplayNameFor(model => model.CE_DateIN)</th>
                        <td>@Html.DisplayFor(model => model.CE_DateIN)</td>
                    </tr>

                    <tr></tr>

                    <tr>
                        <th style="padding: 10px 50px 10px 50px">@Html.DisplayNameFor(model => model.CE_Budget)</th>
                        <td>@Html.DisplayFor(model => model.CE_Budget)</td>
                    </tr>

                    <tr>
                        <th style="padding: 10px 50px 10px 50px">@Html.DisplayNameFor(model => model.CE_Status)</th>
                        <td>
                            @* 1 = อยู่ในระบบ / 2 = จำหน่ายแล้ว / 3 = รอดำเนินการ *@
                            @if (Model.CE_Status == 1)
                            {
                                <span style="color:green">
                                    <i class="fa fa-check-circle  "></i>
                                    อยู่ในระบบ
                                </span>
                            }
                            else if (Model.CE_Status == 2)
                            {
                                <span style="color:red">
                                    <i class="fa fa-times-circle"></i>
                                    จำหน่ายแล้ว
                                </span>
                            }
                            else if (Model.CE_Status == 3)
                            {
                                <span style="color:yellow">
                                    <i class="fa  fa-circle"></i>

                                    รอดำเนินการ
                                </span>
                            }
                        </td>
                    </tr>

                    <tr>
                        <th style="padding: 10px 50px 10px 50px">ผู้เบิก</th>
                        <td>@Model.Teacher.Title.Title_Name @Model.Teacher.Tea_Name @Model.Teacher.Tea_Surname</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box-body">
                    <table class="table table-bordered table-striped" style="width:100%">
                        <thead style="font-size:18px">
                            <tr>
                                <th style="text-align:center">@Html.DisplayNameFor(model => model.CE_Name)</th>
                                <th style="text-align:center">@Html.DisplayNameFor(model => model.CE_Noce)</th>
                                <th style="text-align:center">@Html.DisplayNameFor(model => model.CE_Piece)</th>
                                <th style="text-align:center">@Html.DisplayNameFor(model => model.CE_Price)</th>
                                <th style="text-align:center">@Html.DisplayNameFor(model => model.CE_PriceTotal)</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td style="text-align:center">@Html.DisplayFor(model => model.CE_Name)</td>
                                <td style="text-align:center">@Html.DisplayFor(model => model.CE_Noce)</td>
                                <td style="text-align:center">@Html.DisplayFor(model => model.CE_Piece)</td>
                                <td style="text-align:right">@Html.DisplayFor(model => model.CE_Price)</td>
                                <td style="text-align:right;">@Html.DisplayFor(model => model.CE_PriceTotal)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

