@model IEnumerable<CSManagement.Models.Department>
@using CSManagement.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}


<div class="box">
    <div class="box-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 class="box-title" style="font-family: 'Kanit', sans-serif">จัดการข้อมูลหมวดหมู่วิชา</h1>
                <a class="btn btn-success" style="float: right" href="@Url.Action("Create", "Departments")"><i class="fa fa-plus"></i>เพิ่มหมวดวิชา</a>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th style="text-align:center">ที่</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Dep_Name)</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Course.Course_NameTH)</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Course.Course_Year)</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.Dep_Credit)</th>
                    <th style="text-align:center">จัดการข้อมูล</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td style="text-align:center">@(i++)</td>
                    <td>@Html.DisplayFor(modelItem => item.Dep_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Course.Course_NameTH)</td>
                    <td style="text-align:center">@Html.DisplayFor(modelItem => item.Course.Course_Year)</td>
                    <td style="text-align:center">@Html.DisplayFor(modelItem => item.Dep_Credit)</td>
                    <td style="text-align:center">
                        <div class="delete-section">
                            <a class="btn btn-warning" href="@Url.Action("Edit", "Departments", new { id = item.Dep_ID })"><i class="fa fa-edit"></i>แก้ไข</a>
                            <a class="btn btn-primary delete-link" href="@Url.Action("Delete", new {id = item.Dep_ID})">ลบข้อมูล</a>
                            <div class="btn btn-danger delete-confirm" style="display:none" data-delete-id="@item.Dep_ID">ยืนยันการลบ</div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example1').DataTable({
                scrollCollapse: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Thai.json"
                },
                columnDefs: [{
                    targets: "datatable-nosort",
                    orderable: false
                }]
            });
        });
    </script>

    <script type="text/javascript">
    $(function () {
        $("a.delete-link").click(function () {
            var deleteLink = $(this);
            deleteLink.hide();
            var confirmButton = deleteLink.siblings(".delete-confirm");
            confirmButton.show();

            var cancelDelete =  function () {
                removeEvents();
                showDeleteLink();
            };

            var deleteItem = function () {
                removeEvents();
                confirmButton.hide();
                $.post(
                    '@Url.Action("Delete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = deleteLink.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            };

            var removeEvents = function () {
                confirmButton.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                confirmButton.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

            confirmButton.on("click", deleteItem);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
    </script>

}

