@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
@{
    if (Session["Loginchk"] == null) { Response.Redirect("~/Home/IndexUser");}
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@:
        }
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/9738106a36.js" crossorigin="anonymous"></script>
    <style>
        * {
            font-family: 'Kanit', sans-serif;
        }

        .take-all-space-you-can {
            width: 50%;
        }

        .set-text {
            text-align: center;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">

            <section class="content">
                @RenderBody()
            </section>
        </div>

        @Html.Partial("_ControlSidebar")
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("submit",
                "#FormLogin",
                function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/Logins/Login",
                        method: "POST",
                        data: new FormData(this),
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data === false) {
                                document.getElementById("usernameCK1").innerHTML = "ชื่อผู้ใช้หรือรหัสผ่านผิด";
                                document.getElementById("passwordCK1").innerHTML = "ชื่อผู้ใช้หรือรหัสผ่านผิด";
                            } else {
                                window.location.href = "/Home/Index";
                            }
                        }

                    },
                        "json");
                });

            $("#username").keyup(function () {
                document.getElementById("usernameCK1").innerHTML = "";
            });

            $("#password").keyup(function () {
                document.getElementById("passwordCK1").innerHTML = "";
            });

        });

        $(document).ready(function () {
            $(document).on("submit",
                "#FormRegister",
                function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/Logins/Register",
                        method: "POST",
                        data: new FormData(this),
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data === false) {
                                document.getElementById("usernameCK2").innerHTML = "กรุณากรอกข้อมูลให้ถูกต้อง";
                                document.getElementById("passwordCK2").innerHTML = "กรุณากรอกข้อมูลให้ถูกต้อง";
                                document.getElementById("repasswordCK2").innerHTML = "กรุณากรอกข้อมูลให้ถูกต้อง";
                            } else {
                                window.location.href = "/Home/Index";
                            }
                        }

                    },
                        "json");
                });

            $("#username2").keyup(function () {
                document.getElementById("usernameCK2").innerHTML = "";
            });

            $("#password2").keyup(function () {
                document.getElementById("passwordCK2").innerHTML = "";
            });

            $("#repassword2").keyup(function () {
                document.getElementById("repasswordCK2").innerHTML = "";
            });

        });
    </script>

    <script src="~/Content/js/plugins/jquery.validate/jquery.validate.min.js"></script>
    <script src="~/Content/js/plugins/jquery.validate/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
