<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    @Styles.Render("~/Bundles/css")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        * {
            font-family: 'Kanit', sans-serif;
        }

        .set-text {
            text-align: center;
        }

        .container {
            padding: 80px 120px;
        }

        .navbar{
            font-size:20px
        }

        /*Grid*/
        .item1 { grid-area: header; }
        .item3 { grid-area: main; }
        .item4 { grid-area: right; }
        .item5 { grid-area: footer; }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'main main main main right right'
                'footer footer footer footer footer footer';
            grid-gap: 10px;
            padding: 10px;
        }

        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
            margin:10px
}

        /*กรอบข้อความ*/
        .outer {
            padding: 0.5em 1em;
            box-shadow: 5px 5px 5px #d9d9d9;
        }

        .headerbar {
            background: #feac28 !important;
            color: #ffffff !important;
            position: relative;
            margin-bottom: 0.5em;
            margin-right: -1.5em;
            margin-left: -1.5em;
            box-shadow: 5px 5px 5px #d9d9d9;
        }

        .headerbar:before {
            content: "";
            position: absolute;
            border-bottom: 0.5em solid #333;
            border-left: 0.5em solid transparent;
            left: 0;
            top: -0.5em;
        }

        .headerbar:after {
            content: "";
            position: absolute;
            border-top: 0.5em solid #333;
            border-right: 0.5em solid transparent;
            right: 0;
            bottom: -0.5em;
        }

        .headerbar:hover {
            transform: scale(1,1.1);
        }
    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" >
    <div class="item1">
        <div class="header">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/img/logo.png" style="float:right;padding:10px 0px 10px 150px" width="600" height="120" />
                </div>
                <div class="col-lg-6" style="padding:30px 0px 0px 10px;font-size:20px">
                    <a href="https://www.facebook.com/kru.cs/?epa=SEARCH_BOX" style="color:black"><img src="~/img/fb.png" width="20" height="20"> วิทยาการคอมพิวเตอร์ มหาวิทยาลัยราชภัฏกาญจนบุรี</a>
                    <br />
                    <p>
                        <a style="color:black"><img src="~/img/tel.png" width="20" height="20"> 084-0990207</a>
                        <a href="http://coms.kru.ac.th/WebLink/" style="color:black"><img src="~/img/email.png" width="20" height="20"> coms.kru.ac.th</a>
                        <a href="" data-toggle="modal" data-target="#modalLRForm" style="color:black"><img src="~/img/login.jpg" width="20" height="20" /> เข้าสู่ระบบ</a>
                    </p>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-inverse" style="margin:0px 100px 0px 100px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="@Url.Action("IndexUser", "Home")">หน้าหลัก</a></li>
                        <li><a href="#">บุคคลกร</a></li>
                        <li><a href="@Url.Action("IndexUser", "Projects")">ผลงานนักศึกษา</a></li>
                        <li><a href="#">หลักสูตรสาขา</a></li>
                        <li><a href="#">หลักสูตรอบรม</a></li>
                        <li><a href="#">ประชาสัมพันธ์</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="content item3 item4" style="margin:10px 100px 10px 100px">
        @RenderBody()
    </div>


    <!-- Footer -->
    <footer class="text-center item5" style="background-color:#333333">
        <a class="up-arrow" href="#myPage"  title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <h3 style="letter-spacing:0px;font-size:30px;color:white">วิทยาการคอมพิวเตอร์</h3><p style="color:whitesmoke">มหาวิทยาลัยราชภัฏกาญจนบุรี</p>
    </footer>

    <script>
        $(document).ready(function () {
            // Initialize Tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        })
    </script>
    <script src="~/Content/js/plugins/jquery.validate/jquery.validate.min.js"></script>
    <script src="~/Content/js/plugins/jquery.validate/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>