<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    @Styles.Render("~/Bundles/css")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9738106a36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#F39C12;color:black">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="color:black">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://kru.ac.th/kru/" style=" padding-bottom: .5rem !important;padding-top: .5rem !important;">
                    <img src="~/Content/img/logo.png" style=" max-width: 100%;height: 120%;" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("IndexUser", "Home")">หน้าหลัก</a></li>
                    <li><a href="@Url.Action("IndexUserGrap", "Home")">หลักสูตรสาขา</a></li>
                    <li><a href="@Url.Action("IndexUser", "Projects")">ผลงานนักศึกษา</a></li>
                    <li><a href="@Url.Action("IndexUser", "Teachers")">บุคคลากร</a></li>
                    <li><a href="@Url.Action("IndexUser", "Generations")">คอร์สอบรม</a></li>
                    @{
                        if (Session["UserID"] != null)
                        {
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @if (Session["UserImg"].ToString().Equals("รอแก้ไข") != true)
                                    {
                                        <img src="~/img/@Session["UserImg"]" class="user-image" alt="User Image">
                                    }
                                    else
                                    {<img src="~/img/icons8-cat-profile-64.png" class="user-image" alt="User Image">}
                                    <span class="hidden-xs">@Session["UserName"].ToString() @Session["UserSurname"].ToString()</span>
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        @if (Session["UserImg"].ToString().Equals("รอแก้ไข") != true)
                                        {
                                            <img src="~/img/@Session["UserImg"]" class="img-circle" alt="User Image">
                                        }
                                        else
                                        {
                                            <img src="~/img/icons8-cat-profile-64.png" class="img-circle" alt="User Image">
                                        }

                                        <p style="color: #111111">
                                            @Session["UserName"].ToString()
                                            @Session["UserSurname"].ToString()
                                            <small>@Session["UserID"].ToString()</small>
                                        </p>
                                    </li>

                                    <li class="user-footer">
                                        @if (Session["AJ"] == null)
                                        {
                                            <div class="pull-left">
                                                <a href='@Url.Action("Edit", "Students", new {id = Session["UserID"].ToString()})' class="btn btn-default btn-flat">ข้อมูล</a>
                                            </div>
                                            <div class="pull-left">
                                                <a href='@Url.Action("EditID", "Students", new {id = Session["UserID"].ToString()})' class="btn btn-default btn-flat">รหัสผ่าน</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="pull-left">
                                                <a href='@Url.Action("Edit", "Teachers", new {id = Session["UserID"].ToString()})' class="btn btn-default btn-flat">ข้อมูลส่วนตัว</a>
                                            </div>
                                            <div class="pull-left">
                                                <a href='@Url.Action("EditID", "Teachers", new {id = Session["UserID"].ToString()})' class="btn btn-default btn-flat">รหัสผ่าน</a>
                                            </div>
                                        }
                                        <div class="pull-right">
                                            <a href='@Url.Action("Logout", "logins")' class="btn btn-default btn-flat">ออก</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="" data-toggle="modal" data-target="#modalLRForm" style="color:black"><img src="~/img/login.jpg" width="20" height="20" /> เข้าสู่ระบบ</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <div class="modal-content modal-md">
                <div class="modal-header modal-md text-center" style="background-color: #333333">
                    <img src="~/img/com.png" height="50" width="50" />
                    <a style="font-size: 25px; color: white">ระบบจัดการข้อมูลสาขาวิทยาการคอมพิวเตอร์</a>
                </div>
                <div class="modal-c-tabs">
                    <ul class="nav nav-tabs md-tabs light-blue darken-3" role="tablist">
                        <li class="nav-item take-all-space-you-can set-text">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab" style="font-size: 20px;float:left">
                                <i class="fas fa-user"></i>
                                เข้าสู่ระบบ
                            </a>
                        </li>
                        <li class="nav-item take-all-space-you-can set-text">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab" style="font-size: 20px;float:right">
                                <i class="fas fa-user-plus"></i>
                                สมัครสมาชิก
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="panel7" role="tabpanel">
                            <div class="modal-body modal-md">
                                <form id="FormLogin">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    @*@Html.Label("username", "รหัสนักศึกษา", new { @class = "control-label col-md-6" })*@
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fas fa-id-card"></span>
                                            </div>
                                            @Html.Editor("username", new { htmlAttributes = new { @class = "form-control  input-lg", AutoComplete = "off", placeholder = "กรุณาใส่รหัสนักศึกษา" } })
                                        </div>
                                        @Html.ValidationMessage("username", "", new { @class = "text-danger", id = "usernameCK1" })
                                    </div>

                                    @*@Html.Label("password", "รหัสผ่าน", new { @class = "control-label col-md-6" })*@
                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon" style="font-size: 15px">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                            @Html.Editor("password", new { htmlAttributes = new { @class = "form-control input-lg", @Type = "password", placeholder = "กรุณาใส่รหัสผ่าน" } })
                                        </div>
                                        @Html.ValidationMessage("password", "", new { @class = "text-danger", id = "passwordCK1" })
                                    </div>

                                    <div class="form-group">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success input-lg" style="font-size: 20px">เข้าสู่ระบบ</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="panel8" role="tabpanel">
                            <form id="FormRegister">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="modal-body modal-md">

                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fas fa-id-card"></span>
                                            </div>
                                            @Html.Editor("username2", new { htmlAttributes = new { @class = "form-control input-lg", AutoComplete = "off", placeholder = "กรุณาใส่รหัสนักศึกษา" } })
                                        </div>
                                        @Html.ValidationMessage("username", "", new { @class = "text-danger", id = "usernameCK2" })
                                    </div>

                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                            @Html.Editor("password2", new { htmlAttributes = new { @class = "form-control input-lg", @Type = "password", placeholder = "กรุณาใส่รหัสผ่าน" } })
                                        </div>
                                        @Html.ValidationMessage("password", "", new { @class = "text-danger", id = "passwordCK2" })
                                    </div>

                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                            @Html.Editor("repassword2", new { htmlAttributes = new { @class = "form-control  input-lg", @Type = "password", placeholder = "กรุณาใส่รหัสผ่านอีกครั้ง" } })
                                        </div>
                                        @Html.ValidationMessage("repassword", "", new { @class = "text-danger", id = "repasswordCK2" })
                                    </div>

                                    <div class="form-group ">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="fas fa-user-slash"></span>
                                            </div>
                                            @Html.Editor("specailcode", new { htmlAttributes = new { @class = "form-control  input-lg", @Type = "password", placeholder = "รหัสพิเศษ(ไม่มีไม่ต้องใส่)" } })
                                        </div>
                                        @Html.ValidationMessage("specailcode", "", new { @class = "text-danger", id = "specialcodeCK2" })
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info input-lg" style="font-size: 20px">สมัครสมาชิก</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-body container-1">
        @RenderBody()
    </div>

    <!-- Footer -->
    @*<footer class="text-center">
            <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <h3 class="text-footer">วิทยาการคอมพิวเตอร์</h3><p>มหาวิทยาลัยราชภัฏกาญจนบุรี</p>
        </footer>*@
    

    <footer class="site-footer">
        <div class="container">
            <div class="cont">
                <ul class="contact">
                    <li style="text-align: left;">
                        <p><i class="fa fa-phone fa-2x"></i></p>
                        <p><strong>ติดต่อ</strong></br>084-099-0207 (อ.ธีรเดช)</p>
                    </li>
                    <li style="text-align: left;">
                        <p><i class="fa fa-map-marker fa-2x"></i></p>
                        <p><strong>มหาวิทยาลัยราชภัฏกาญจนบุรี</strong></br>70 ม.4 ต.หนองบัว อ.เมือง จ.กาญจนบุรี 71190</p>
                    </li>
                    <li style="text-align: left;">
                        <p><i class="fa fa-envelope fa-2x"></i></p>
                        <p><strong>Email</strong></br>coms.kru.ac.th</p>
                    </li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2020 All Rights Reserved by
                        <a href="#">Computer Science</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/kru.cs/"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#myPage"><i class="fa fa-arrow-up"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            // Initialize Tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        })
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("submit",
                "#FormLogin",
                function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: href = '@Url.Action("Login","Logins")',
                        method: "POST",
                        data: new FormData(this),
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data === false) {
                                document.getElementById("usernameCK1").innerHTML = "ชื่อผู้ใช้หรือรหัสผ่านผิด";
                                document.getElementById("passwordCK1").innerHTML = "ชื่อผู้ใช้หรือรหัสผ่านผิด";
                            } else {
                                window.location.href = '@Url.Action("Index", "Home")';
                            }
                        }

                    },
                        "json");
                });

            $("#username").keyup(function () {
                document.getElementById("usernameCK1").innerHTML = "";
            });

            $("#password").keyup(function () {
                document.getElementById("passwordCK1").innerHTML = "";
            });

        });

        $(document).ready(function () {
            $(document).on("submit",
                "#FormRegister",
                function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '@Url.Action("Register","Logins")',
                        method: "POST",
                        data: new FormData(this),
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data === false) {
                                document.getElementById("usernameCK2").innerHTML = "กรุณากรอกข้อมูลให้ถูกต้อง";
                                document.getElementById("passwordCK2").innerHTML = "กรุณากรอกข้อมูลให้ถูกต้อง";
                                document.getElementById("repasswordCK2").innerHTML = "กรุณากรอกข้อมูลให้ถูกต้อง";
                            } else {
                                window.location.href = '@Url.Action("Index", "Home")';
                            }
                        }

                    },
                        "json");
                });

            $("#username2").keyup(function () {
                document.getElementById("usernameCK2").innerHTML = "";
            });

            $("#password2").keyup(function () {
                document.getElementById("passwordCK2").innerHTML = "";
            });

            $("#repassword2").keyup(function () {
                document.getElementById("repasswordCK2").innerHTML = "";
            });

        });
    </script>

    <script src="~/Content/js/plugins/jquery.validate/jquery.validate.min.js"></script>
    <script src="~/Content/js/plugins/jquery.validate/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>