@using CSManagement.Models
@using Microsoft.Ajax.Utilities
@model CSManagement.Models.Student

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="box-title" style="font-family: 'Kanit', sans-serif">รายละเอียดข้อมูลนักศึกษา</h1>
                    <div style="float:right">
                        <a class="btn btn-default" href="@Url.Action("Index", "Students")"><i class="fa fa-mail-reply"></i> ย้อนกลับ</a>
                        <a class="btn btn-warning" href="@Url.Action("Edit", "Students", new { id = Model.Stu_ID })"><i class="fa fa-edit"></i>แก้ไขข้อมูล</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="box-body">
            <table id="w0" class="table table-striped table-bordered detail-view" style="font-size:18px">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_Img)</th>
                        <td><img src="~/img/icons8-cat-profile-64.png" /></td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_ID)</th>
                        <td>@Html.DisplayFor(model => model.Stu_ID)</td>
                    </tr>
                    <tr>
                        <th>ชื่อ-นามสกุล</th>
                        <td style="width: 80%;">@Model.Stu_Title @Model.Stu_Name @Model.Stu_Surname</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_Sex)</th>
                        <td>@(Model.Stu_Sex.Value ? "เพศชาย" : "เพศหญิง")</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_Birthday)</th>
                        <td>@Html.DisplayFor(model => model.Stu_Birthday)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_Address)</th>
                        <td>@Html.DisplayFor(model => model.Stu_Address)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_Tel)</th>
                        <td>@Html.DisplayFor(model => model.Stu_Tel)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_Email)</th>
                        <td>@Html.DisplayFor(model => model.Stu_Email)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_OldEdu)</th>
                        <td>@Html.DisplayFor(model => model.Stu_OldEdu)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Stu_School)</th>
                        <td>@Html.DisplayFor(model => model.School.SCH_Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Status.Status_Name)</th>
                        <td>@Html.DisplayFor(model => model.Status.Status_Name)</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="box-header with-border">

            <div class="row">
                <div class="col-md-10">
                    <h1 class="box-title">ประวัติการทำงาน</h1>
                    <div style="float:right">
                        <a class="btn btn-default" href="@Url.Action("Create", "Histories")"><i class="fa fa-edit"></i> เพิ่มประวัติการทำงาน</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body">
            <table class="table table-striped table-bordered detail-view" style="font-size: 18px">
                <thead>
                    <tr>
                        <th>ประเภทอาชีพ</th>
                        <th>อาชีพ</th>
                        <th>ชื่อบริษัท</th>
                        <th>ปีที่เข้าทำงาน</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Session["HistoryStu"] != null)
                        {
                            var list = (List<History>)Session["HistoryStu"];
                            foreach (var item in list)
                            {
                                <tr>
                                    <td>@item.Job.JOB_Name</td>
                                    <td>@item.HIS_Jobname</td>
                                    <td>@item.HIS_Company</td>
                                    <td>@item.HIS_Year</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
