@model CSManagement.Models.Student

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Students", FormMethod.Post, new { enctype = "multipart/form-data", accept_charset = "utf-8" }))
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">เพิ่มข้อมูลนักศึกษา</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_ID, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Stu_ID, new { htmlAttributes = new { @class = "form-control" ,@readonly = true} })
                        @Html.ValidationMessageFor(model => model.Stu_ID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_Title, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Stu_Title, new List<SelectListItem>()
                        {
                            new SelectListItem() { Text = "นาย", Value = "นาย" },
                            new SelectListItem() { Text = "นาง", Value = "นาง" },
                            new SelectListItem() { Text = "นางสาว", Value = "นางสาว"}
                        }, "เลือกคำนำหน้าชื่อ", new { @id = "Stu_Sex", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Stu_Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Stu_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Stu_Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_Surname, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Stu_Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Stu_Surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        @Html.LabelFor(model => model.Stu_Sex, htmlAttributes: new { @class = "control-label" })
                        <br />
                        @Html.DropDownListFor(model => model.Stu_Sex, new List<SelectListItem>()
                        {
                            new SelectListItem() { Text = "เพศชาย", Value = "True" },
                            new SelectListItem() { Text = "เพศหญิง", Value = "False"}
                        }, "เลือกเพศ", new { @id = "Stu_Sex", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Stu_Sex, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_Birthday, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" id="birthday" name="birthday" class="form-control" data-inputmask="'alias': 'dd-mm-yyyy'" data-mask>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Stu_Email, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            @Html.EditorFor(model => model.Stu_Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Stu_Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group  col-md-3">
                        @Html.LabelFor(model => model.Stu_Tel, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" id="tel" name="tel" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Stu_Address, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-home"></i></span>
                            @Html.EditorFor(model => model.Stu_Address, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Stu_Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_School, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-university"></i></span>
                            @Html.DropDownList("Stu_School", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Stu_School, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_OldEdu, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
                            @Html.DropDownListFor(model => model.Stu_OldEdu, new List<SelectListItem>()
                            {
                                new SelectListItem() { Text = "มัธยมปลาย(ม.6)", Value = "มัธยมปลาย(ม.6)" },
                                new SelectListItem() { Text = "ปริญญาวิชาชีพ(ปวช.)", Value = "ปริญญาวิชาชีพ(ปวช.)" },
                                new SelectListItem() { Text = "การศึกษานอกสถานที่(กศน.)", Value = "การศึกษานอกสถานที่(กศน.)" },
                                new SelectListItem() { Text = "อื่นๆ", Value = "อื่นๆ"}
                            }, "เลือกวุฒิการศึกษา", new { @id = "Stu_OldEdu", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Stu_OldEdu, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_StatusID, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa  fa-mortar-board"></i></span>
                            @Html.DropDownList("Stu_StatusID", null, "เลือกสถานะการศึกษา", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Stu_StatusID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Stu_Img, htmlAttributes: new { @class = "control-label" })
                        <input type="file" id="file" name="file">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-success col-md-3" style="float:right"><i class="fa fa-save"></i> บันทึกข้อมูล</button>
                    <a class="btn btn-default col-md-3" style="float:left" href="@Url.Action("Index", "Students")"><i class="fa fa-mail-reply "></i> ย้อนกลับ</a>
                </div>

            </div>
        </div>
        
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
            </script>
        }

        <div class="box-footer">
            หมายเหตุ : กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนทำการกดบันทึก
        </div>
    </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
