@model IEnumerable<CSManagement.Models.Student>

@{
    ViewBag.Title = "รายชื่อนักศึกษา";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<table id="example" class="display" style="width: 100%">
    <thead>
        <tr>
            <th style="text-align:center">@Html.DisplayNameFor(model => model.Stu_ID)</th>
            <th style="text-align:center">ชื่อ-นามสกุล</th>
            <th style="text-align:center">@Html.DisplayNameFor(model => model.Stu_Birthday)</th>
            <th style="text-align:center">@Html.DisplayNameFor(model => model.Stu_Tel)</th>
            <th style="text-align:center">@Html.DisplayNameFor(model => model.Stu_StatusID)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Stu_ID)</td>
                <td>@item.Stu_Title @item.Stu_Name @item.Stu_Surname</td>
                <td>@Html.DisplayFor(modelItem => item.Stu_Birthday)</td>
                <td>@Html.DisplayFor(modelItem => item.Stu_Tel)</td>
                @* 1 = กำลังศึกษาอยู่ / 2 = สำเร็จการศึกษา / 3 = เกียรตินิยมอันดับ 1 / 4 = เกียรตินิยมอันดับ 2 / 5 = พ้นสภาพการเป็นนักศึกษา / 6 = พักการเรียน *@
                @if (item.Stu_StatusID == 3)
                {
                    <td style="color:red">@Html.DisplayFor(modelItem => item.Status.Status_Name)</td>
                }
                else if (item.Stu_StatusID == 4)
                {
                    <td style="color:darkorange">@Html.DisplayFor(modelItem => item.Status.Status_Name)</td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem => item.Status.Status_Name)</td>
                }
            </tr>
        }
    </tbody>
</table>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet">

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print'
                ]
            });
        });
    </script>
}
