@model CSManagement.Models.CESup

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="box-title">รายละเอียดข้อมูลครุภัณฑ์</h1>
                    <div style="float:right">
                        <a class="btn btn-default" href="@Url.Action("Index", "CESups")"><i class="fa fa-mail-reply "></i> ย้อนกลับ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body">
            <table id="w0" class="table table-striped table-bordered detail-view" style="font-size:18px">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CESUB_NO)</th>
                        <td> @Html.DisplayFor(model => model.CESUB_NO)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CESUB_Name)</th>
                        <td>@Html.DisplayFor(model => model.CESUB_Name)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CESUB_Status)</th>
                        <td>@Html.DisplayFor(model => model.CESUB_Status)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CE_ATNO)</th>
                        <td>@Html.DisplayFor(model => model.CE_ATNO)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CESUB_Status)</th>
                        <td>
                            @if (Model.CESUB_Status == 1)
                            {
                                <span style="color:green">
                                    <i class="fa fa-dot-circle-o"></i>
                                    อยู่ในระบบ
                                </span>
                            }
                            else if (Model.CESUB_Status == 2)
                            {
                                <span style="color:red">
                                    <i class="fa  fa-check-circle"></i>
                                    จำหน่ายแล้ว
                                </span>
                            }
                            else if (Model.CESUB_Status == 3)
                            {
                                <span style="color:#F8E507">
                                    <i class="fa  fa-circle"></i>
                                    รอจำหน่าย
                                </span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
