@model CSManagement.Models.Dispose

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dispose</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CE_ATNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CE_ATNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIS_DateOUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIS_DateOUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIS_DateAPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIS_DateAPP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIS_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIS_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DIS_ATNO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
