@model IEnumerable<CSManagement.Models.Dispose>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>การจำหน่าย</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CE_ATNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIS_DateOUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIS_DateAPP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIS_Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CE_ATNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIS_DateOUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIS_DateAPP)
            </td>
            <td>
                @* 1 = รอดำเนินการ / 2 = จำหน่ายแล้ว / 3 = ยกเลิกการจำหน่าย *@
                @if (item.DIS_Status == 1)
                {
                    <span>
                        รอดำเนินการ
                    </span>
                }
                else if (item.DIS_Status == 2)
                {
                    <span>
                        จำหน่ายแล้ว
                    </span>
                }
                else if (item.DIS_Status == 3)
                {
                    <span>
                        ยกเลิกการจำหน่าย
                    </span>
                }
            </td>
            @if (item.DIS_Status == 1)
            {
                <td>
                    @Html.ActionLink("ยืนยัน", "DisposeAgree", new { id = item.CE_ATNO }) |
                    @Html.ActionLink("ยกเลิก", "DisposeCancle", new { id = item.CE_ATNO })
                </td>
            }
            else if (item.DIS_Status == 2)
            {
                <td>
                   
                </td>
            }
            else if (item.DIS_Status == 3)
            {
                <td>
                    
                </td>
            }
        </tr>
    }

</table>
