@{
    ViewBag.Title = "วิทยาการคอมพิวเตอร์";
    ViewBag.Description = "หน้าหลัก";
}

<section class="content">
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner set-text">
                <h3>@Session["Totalstudent"]</h3>

                <p>จำนวนนักศึกษา</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner set-text">
                <h3>@Session["Totaluser"]</h3>

                <p>จำนวนผู้เข้าชม</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner set-text">
                <h3>@Session["Totalpj"]</h3>

                <p>ผลงานนักศึกษา</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner set-text">
                <h3>@Session["Totallogin"]</h3>

                <p>จำนวนสมาชิก</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-header with-border set-text">
                    <h3 class="box-title">สัดส่วนหมวดวิชาหลักสูตรสาขา</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="chartContainer" style="height: 300px; position: relative;"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-header with-border set-text">
                    <h3 class="box-title">สัดส่วนการทำงานของศิษย์เก่า</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="chartContainer2" style="height: 300px; position: relative;"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    
</section>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">

    window.onload = function () {
        var chart =
            new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                exportEnabled: true,
                animationEnabled: true,
                data: [
                    {
                        type: "pie", //change type to bar, line, area, pie, etc
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        indexLabel: "{label} {y}%",
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                    }
        ]
            });
        var chart2 =
            new CanvasJS.Chart("chartContainer2", {
                theme: "light2",
                exportEnabled: true,
                animationEnabled: true,
                data: [
                    {
                        type: "pie", //change type to bar, line, area, pie, etc
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        indexLabel: "{label} {y}%",
                        dataPoints: @Html.Raw(ViewBag.DataPoints2)
                    }
                ]
            });
        chart.render();
        chart2.render();
    };
</script>