@model CSManagement.Models.Course

@{
    ViewBag.Title = "IndexUserGrap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    int i = 1;
}

<body>
    @using (Html.BeginForm("IndexUserGrap", "Home", FormMethod.Post))
    {
        <section class="content" style=" background-color: white;height:1000px">
            <div class="row">
                <div class="col-md-12">
                    <header class="header1">
                        <h1 class="page-title">ข้อมูลหลักสูตร</h1>
                    </header>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>ชื่อหลักสูตร </strong>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>ภาษาไทย</strong> : วิทยาศาสตรบัณฑิต  สาขาวิชาวิทยาการคอมพิวเตอร์ <br />
                                <strong>ภาษาอังกฤษ</strong> :  Bachelor of Science Program in Computer Science
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>ชื่อปริญญาและสาขาวิชา</strong>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>ภาษาไทย</strong>   : วิทยาศาสตรบัณฑิต (วท.บ.) (วิทยาการคอมพิวเตอร์)<br />
                                <strong>ภาษาอังกฤษ</strong> : Bachelor of Science (B.Sc.) (Computer Science)
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>วัตถุประสงค์ของหลักสูตร</strong>
                        </div>
                        <div class="panel-body">
                            <p>
                                เมื่อสำเร็จการศึกษาจากหลกัสูตรนี้แล้ว นักศึกษาจะมีคุณลักษะดังนี้  <br />
                                1. มีความรู้ความสามารถทางวิชาการด้านวิทยาการคอมพิวเตอร์ ทั้งภาคทฤษฎี และภาคปฏิบัติ สามารถนำไปประยุกต์ใช้ในการประกอบอาชีพและศึกษาต่อในระดับสูงได้ <br />
                                2. มีเจตคติทางวิทยาการคอมพิวเตอร์ มีความคิดริเริ่มสร้างสรรค์และมีจิตอาสา สามารถนำไปประยุกต์ใช้ใน การเรียนและปฏิบัติงาน อย่างมีคุณธรรม จริยธรรม และตระหนักในจรรยาบรรณวิชาชีพ<br />
                                3. มีทักษะด้านการค้นคว้าและถ่ายทอด เพื่อศึกษาหาความรู้ด้านวิทยาการคอมพิวเตอร์ในระดับที่สูงขึ้น และพัฒนาตนเองอย่างต่อเนื่องตลอดชีวิต
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>หลักสูตร</strong>
                        </div>
                        <div class="panel-body">
                            <p>
                                หลักสูตรวิทยาศาสตรบัณฑิต  สาขาวิชาวิทยาการคอมพิวเตอร์ใช้ระยะเวลาในการสำเร็จการศึกษาไม่น้อยกว่า 6 ภาคการศึกษาปกติและไม่เกิน 8 ปีการศึกษา จำนวนหน่วยกิตรวมตลอดหลักสูตร 129 หน่วยกิต
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>โครงสร้างหลักสูตร</strong>
                        </div>
                        <div class="panel-body">
                            <p>
                                โครงสร้างหลักสูตร แบ่งเป็นหมวดวิชาที่สอดคล้องกับที่ก าหนดไว้ในเกณฑ์มาตรฐานหลักสูตรของ กระทรวงศึกษาธิการ ดังนี
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    @*///ตารางแสดงหลักสูตร///*@
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <strong>โครงสร้างหลักสูตรสูตรสาขาวิทยาการคอมพิวเตอร์</strong>
                        </div><br />
                        <div class="row">
                            <div class="col-sm-12 col-md-6" style="float:right;padding-right:44px">
                                <button type="submit" class="btn btn-success col-sm-6 col-md-4" style="float:right"><i class="fa fa-search"></i> ค้นหา</button>
                                <div class="col-sm-6 col-md-8" style=" float: right">
                                    @Html.DropDownList("Year", null, "เลือกปี", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div><br />

                        <div class="panel-body">
                            <div class="col-md-12">
                                <table id="example1" class="table table-bordered table-striped" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">ที่</th>
                                            <th style="text-align:center">หมวดวิชา</th>
                                            <th style="text-align: center">จำนวนหน่วยกิต</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.coursesList != null)
                                        {
                                            foreach (var item in ViewBag.coursesList)
                                            {
                                                <tr>
                                                    <td style="        text-align: center
">
                                                        @(i++)
                                                    </td>
                                                    <td style="text-align: center">@item.Department_Sup.Deps_Name</td>
                                                    <td style="text-align: center">@item.Dep_Credit</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td style="text-align: center">@(i++)</td>
                                                <td style="text-align: center">เลือกปี</td>
                                                <td style="text-align: center">เลือกปี</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        @if (ViewBag.total != null)
                                        {
                                            <tr>
                                                <td></td>
                                                <td style="text-align: center">รวม</td>
                                                <td style="text-align: center">@ViewBag.total</td>
                                            </tr>
                                        }
                                    </tfoot>
                                </table>
                                @if (ViewBag.pdf != null)
                                {
                                    <button>
                                        <a target="_blank" href="@Url.Action("forpdfview", "Projects")?id=@ViewBag.pdf">
                                            ดูข้อมูลหลักสูตร
                                        </a>
                                    </button>
                                }
                            </div>

                            @*///กราฟแสดงหลักสูตร///*@
                            <div class="col-md-12" style="float:right;padding-right:40px">
                                <div class="panel-body text-justify chart-responsive">
                                    <div class="chart" id="chartContainer" style="height: 300px; position: relative;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">
    window.onload = function () {
        var chart =
            new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                exportEnabled: true,
                animationEnabled: true,
                data: [
                    {
                        type: "pie", //change type to bar, line, area, pie, etc
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        indexLabel: "{label} {y}%",
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                    }
                ]
            });
        chart.render();
    };
        $(document).ready(function () {
            $('#example1').DataTable({
                scrollCollapse: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Thai.json"
                },
                columnDefs: [{
                    targets: "datatable-nosort",
                    orderable: false
                }]
            });
        });
</script>
