@{

    ViewBag.Title = "วิทยาการคอมพิวเตอร์";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    * {
        font-family: 'Kanit', sans-serif;
    }
</style>

<section class="banner full">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int j = 0; j < ViewBag.Count; j++)
            {
                <li data-target="#myCarousel" data-slide-to="@j" class="@(j == 0 ? "active" : string.Empty)"></li>
            }
        </ol>

        <div class="carousel-inner" role="listbox">
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                var active = i == 1 ? "active" : "";
                <div class="item @active">
                    <a style="cursor: pointer;" onclick="myFunction('@item.Pic_Link')">
                        <img src="~/imgSlideShow/@item.Pic_Img" style="width:100%; height: 100%;" />
                    </a>
                </div>
            }
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>


<div class="row">
    <iframe class="bg-content-vdo" src="https://www.youtube.com/embed/udzjVQYfplM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    @*<div class="col-sm-12 col-md-6 bg-content" style="background-image: url('../../Content/img/bg-dark.jpg');">
            <div class="content">
                <strong>หลักสูตรวิทยาศาสตรบัณฑิต  สาขาวิทยาการคอมพิวเตอร์</strong><br />
                <p>Bachelor of Science Program in Computer Science</p><br />
                <p>
                    มุ่งพัฒนาและผลิตบุคลากรด้านคอมพิวเตอร์ที่มีคุณธรรม จริยธรรม โดยสามารถนำความรู้ไปประยุกต์ใช้ในอาชีพ และพัฒนาเพื่อเพิ่มขีดความสามารถในการแข่งขันขององค์กร รัฐบาล เอกชน
                    และประกอบอาชีพส่วนตัวทางด้านคอมพิวเตอร์และเทคโนโลยี
                    เพื่อการพัฒนาวิทยาการคอมพิวเตอร์และสร้างสรรค์งานด้านเทคโนโลยีคอมพิวเตอร์ให้เหมาะสมกับท้องถิ่น ชุมชนและประเทศ และพัฒนาคนดีสู่สังคมเพื่อเป็นกำลังของชาติ
                </p>
            </div>
        </div>*@

    <div class="col-sm-12 col-md-6 bg-content" style="background-image: url('../../Content/img/bg-yellow.jpg');">
        <div class="content">
            <strong>ปรัชญา</strong><br />
            <p>“ใฝ่รู้ สู้งาน ชำนาญการพัฒนาซอฟต์แวร์”</p><br />
            <strong>จุดเด่น</strong><br />
            <p>
                มีอาจารย์ที่คอยดูแลนักศึกษาอย่างใกล้ชิด นักศึกษาได้ลงมือฝึกปฏิบัติจริงเพื่อให้ก้าวทันเทคโนโลยีใหม่ๆ อยู่เสมอ
                และสนับสนุนให้นักศึกษาได้แสดงศักยภาพของตนเองในการแข่งขันทักษะต่างๆ
                จัดหลักสูตรการเรียนการสอนให้นักศึกษามีทักษะในการประกอบวิชาชีพ มีวัสดุอุปกรณ์ และห้องปฏิบัติการที่ทันสมัย
            </p>
        </div>
    </div>
</div>




<div class="container-1">
    @*image link*@
    <div class="content">
        <div class="row">
            @{
                var count = 0;
                foreach (var item in ViewBag.Link)
                {
                    if (count == 4)
                    {
                        break;
                    }
                    count++;

                    <div class="col-12 col-lg-3 col-md-3 col-sm-6" style="padding-top:15px;padding-bottom:15px">
                        <div class="card" style="padding:0px">
                            <a style="cursor: pointer;" onclick="myFunction('@item.Picture_Link')">
                                <img src="~/img/@item.Picture_Img" class="card-img-top">
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="content">
        <div class="row">
            @*กราฟแสดงผล*@
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-header">สัดส่วนหมวดวิชาหลักสูตรสาขา<button type="button" class="btn btn-warning" onclick="gotopage1()" style="cursor: pointer;float:right">เพิ่มเติม...</button></div>
                    <div class="panel-content">
                        <a onclick="gotopage1()" style="cursor: pointer;">
                            <div class="panel-body text-justify chart-responsive">
                                <div class="chart" id="chartContainer" style="height: 300px; position: relative;"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-header">สัดส่วนการทำงานของศิษย์เก่า<button type="button" class="btn btn-warning" onclick="gotopage2()" style="cursor: pointer;float:right">เพิ่มเติม...</button></div>
                    <div class="panel-content">
                        <a onclick="gotopage2()" style="cursor: pointer;">
                            <div class="panel-body text-justify chart-responsive">
                                <div class="chart" id="chartContainer2" style="height: 300px; position: relative;"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*ประชาสัมพันธ์ข่าวสารของสาขา*@
    @*เหลือแยกประเภทของข่าว เอาให้โชว์แค่4ข่าวพอนะ*@
    <div class="random">
        <div class="content">
            <div class="w3-bar" style="color: #fff!important;">
                <button class="w3-bar-item w3-button" onclick="openNews('news')">ข่าวล่าสุด</button>
                <a class="see-more-btn" href="@Url.Action("IndexUser","News")">ทั้งหมด>></a>

            </div>
            <div class="border-bottom"></div>

            <div id="news" class="w3-container w3-display-container city">
                <div class="row">
                    @{
                        foreach (var item in ViewBag.NewsCount)
                        {
                            <div class="col-md-3">
                                <div class="top-res-container mar-r">
                                    <div class="top-res-pic">
                                        <img src="~/Content/img/img-test-300-150.jpg" />
                                    </div>

                                    <div class="top-res-content">
                                        <h1 class="top-res-head">@item.New_Name.Substring(0, Math.Min(20, @item.New_Name.Length))</h1>
                                        <p class="top-res-detail">
                                            @item.New_Details.Substring(0, Math.Min(30, @item.New_Details.Length))...
                                        </p>

                                        <div class="see-more">
                                            <a class="see-more-btn" href="@Url.Action("IndexUser","News")?id=@item.New_ID">อ่านต่อ</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    @*/////////////////////////////////////////////////////*@

    @*script ประชาสัมพันธ์ข่าวสารของสาขา แก้เสร็จแล้วเอาไปไว้ข้างล่างด้วยนะ*@
    <script>
        function openNews(newsName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(newsName).style.display = "block";
        }
    </script>

    @*/////////////////////////////////////////////////////*@


    @*ผลงานนักศึกษา*@
    <div class="content">
        <header class="header1">
            <a class="page-title" href="@Url.Action("IndexUser","Projects")">ผลงานนักศึกษา</a>
        </header>
        <br />
        <div class="row">
            @{ var counter = 0;
                foreach (var item in ViewBag.ProjectCount)
                {
                    if (counter == 9)
                    {
                        break;
                    }
                    counter++;
                    <div class="col-md-4">
                        <div class="box box-widget widget-user-2">
                            <div class="profile-widget bg-yellow">
                                <div class="profile-img">
                                    <img class="img-circle" style="height:80px;" img src="~/img/@item.Stu_Img" />
                                </div>
                                <div style=" margin-left: 10px;padding-left: 10px">
                                    <p3-bold>@item.Stu_Name @item.Stu_Surname</p3-bold><br />
                                    <p3-bold>@item.Pj_StuID</p3-bold><br />
                                    <p5>เรื่อง : @item.Pj_NameTH</p5>
                                </div>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    @if (item.Pj_Linkweb != null) 
                                    {
                                        <li><a href="@item.Pj_Linkweb">เว็บไซต์<span class="pull-right badge bg-blue">เข้าชม</span></a></li>
                                    }
                                    else
                                    {
                                        <li><a>เว็บไซต์<span class="pull-right badge bg-blue">ไม่มี</span></a></li>
                                    }
                                    <li>
                                        <a href="@Url.Action("forpdfview", "Projects")?id=@item.Pj_File">
                                            รูปเล่ม
                                            <span class="pull-right badge bg-aqua">เข้าชม</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn_4 video-btn" alt="video" data-toggle="modal" data-src="https://www.facebook.com/plugins/video.php?href=https://web.facebook.com/kru.cs/videos/@item.Pj_Video/" data-target="#myModal">
                                            วิดีโอ
                                            <span class="pull-right badge bg-green">เข้าชม</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>


        <!-- Modal Video -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modelClose">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="videos" scrolling="no" src="" allowscriptaccess="always" allowFullScreen="true"></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*แนะนำว่าเรียนอะไรบ้าง*@
    <div class="content">
        @*<div class="panel panel-default outer" style="padding: 1em 5em;">*@
        <header class="header1">
            <p class="page-title">สาขาเราเรียนอะไรกัน</p>
        </header>
        <br />
        <div class="row">
            @if (ViewBag.Syll != null)
            {
                foreach (var item in ViewBag.Syll)
                {
                    <div class="col-md-4">
                        <div class="w3-card">
                            <img src="~/img/@item.Sy_Img" alt="Avatar" style="width: 100%">
                            <div class="card-body" style="margin: 15px; height: 100px">
                                <h4><b>@item.Sy_Name</b></h4>
                                <p>@item.Sy_Details</p>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>

        @*<div class="row">
                @{
                    foreach (var item in ViewBag.Syll)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <img src="~/img/@item.Sy_Img" alt="Avatar" style="width: 100%">
                                <div class="card-body" style="margin: 15px; margin-bottom: 15px">
                                    <h4 style="letter-spacing: 0px;"><b>@item.Sy_Name</b></h4>
                                    <p>@item.Sy_Details</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>*@
    </div>
</div>



<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">

    window.onload = function () {
        var chart =
            new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                exportEnabled: true,
                animationEnabled: true,
                data: [
                    {
                        type: "pie", //change type to bar, line, area, pie, etc
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        indexLabel: "{label} {y}%",
                        dataPoints: @Html.Raw(ViewBag.DataPoints)
                    }
                ]
            });
        var chart2 =
            new CanvasJS.Chart("chartContainer2", {
                theme: "light2",
                exportEnabled: true,
                animationEnabled: true,
                data: [
                    {
                        type: "pie", //change type to bar, line, area, pie, etc
                        startAngle: 180,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        indexLabel: "{label} {y}%",
                        dataPoints: @Html.Raw(ViewBag.DataPoints2)
                    }
                ]
            });
        chart.render();
        chart2.render();
    };
</script>
<style>

    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }

    .close {
        position: absolute;
        right: 1%;
        top: 0;
        z-index: 999;
        font-size: 4rem;
        font-weight: normal;
        color: black;
        opacity: 1;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // Gets the video src from the data-src on each button

        var $videoSrc;
        $('.video-btn').click(function () {
            $videoSrc = $(this).data("src");
            $("#videos").attr('src', $videoSrc);
        });
        // when the modal is opened autoplay it
        //$('#myModal').on('shown.bs.modal', function () {
        //})

        // stop playing the youtube video when I close the modal
        $('#myModal').on('hide.bs.modal', function () {
            // a poor man's stop video
            $("#videos").attr('src', $videoSrc);
        })

        $('#modelClose').click(function () {
            $("#videos").attr('src', $videoSrc);
        });
        // document ready
    });

</script>

<script>
    function myFunction(name) {
        window.open(name);
    }
</script>

<script>
    function gotopage1() {
        window.open('../Home/IndexUserGrap');
    }
</script>

<script>
    function gotopage2() {
        window.open('../Home/Indexoldstudent');
    }
</script>