@model CSManagement.Models.Generation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="box-title" style="font-family: 'Kanit', sans-serif">รายละเอียดหลักสูตรอบรม</h1>

                    <div style="float:right">
                        <a class="btn btn-default" href="@Url.Action("Index", "Generations")"><i class="fa fa-mail-reply "></i> ย้อนกลับ</a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Generations")"><i class="fa  fa-trash-o"></i> ลบข้อมูล</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-body">
            <table id="w0" class="table table-striped table-bordered detail-view" style="font-size:18px">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Short_Course.SC_NameTH)</th>
                        <td>@Html.DisplayFor(model => model.Short_Course.SC_NameTH)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gen_Name)</th>
                        <td>@Html.DisplayFor(model => model.Gen_Name)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gen_Member)</th>
                        <td style="color:red">@Html.DisplayFor(model => model.Gen_Member) คน</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gen_MemberMax)</th>
                        <td style="color:forestgreen">@Html.DisplayFor(model => model.Gen_MemberMax) คน</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gen_Date)</th>
                        <td>@Html.DisplayFor(model => model.Gen_Date)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gen_Year)</th>
                        <td>@Html.DisplayFor(model => model.Gen_Year)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gen_Fee)</th>
                        <td>@Html.DisplayFor(model => model.Gen_Fee) บาท</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gen_Status1.Gen_Name)</th>
                        <td>@Html.DisplayFor(model => model.Gen_Status1.Gen_Name)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gen_PDF)</th>
                        <td>
                            <a target="_blank" href="@Url.Action("forpdfview", "Projects")?id=@Model.Gen_PDF">
                                เปิดอ่าน
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
