@model IEnumerable<CSManagement.Models.Generation>

@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    int i = 1;
}

@**@
<head>
    <style>
        .outer {
            padding: 1em 1em;
            box-shadow: 5px 5px 5px #d9d9d9;
        }

        .headerbar {
            background: #feac28 !important;
            color: #ffffff !important;
            position: relative;
            margin-bottom: 0.5em;
            margin-right: -2.5em;
            margin-left: -2.5em;
            box-shadow: 5px 5px 5px #d9d9d9;
        }

            .headerbar:before {
                content: "";
                position: absolute;
                border-bottom: 0.5em solid #333;
                border-left: 1.5em solid transparent;
                left: 5px;
                top: -0.5em;
            }

            .headerbar:after {
                content: "";
                position: absolute;
                border-top: 0.5em solid #333;
                border-right: 1.5em solid transparent;
                right: 5px;
                bottom: -0.5em;
            }

            .headerbar:hover {
                transform: scale(1,1.1);
            }
    </style>
</head>

<body>
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default outer" style="width:100%">
                            <div class="panel-heading headerbar" style="text-align:center;font-size:20px">
                                หลักสูตรอบรมระยะสั้น
                            </div>
                            <div class="panel-body text-justify">
                                <table id="example1" class="table table-bordered table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">ที่</th>
                                            <th style="text-align:center">@Html.DisplayNameFor(model => model.Short_Course.SC_NameTH)</th>
                                            <th style="text-align:center">@Html.DisplayNameFor(model => model.Gen_Name)</th>
                                            <th style="text-align:center">@Html.DisplayNameFor(model => model.Gen_Member)</th>
                                            <th style="text-align:center">@Html.DisplayNameFor(model => model.Gen_Year)</th>
                                            <th style="text-align:center">@Html.DisplayNameFor(model => model.Gen_Fee)</th>
                                            <th style="text-align:center">จัดการข้อมูล</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="text-align:center">@(i++)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Short_Course.SC_NameTH)</td>
                                                <td style="text-align:center">@Html.DisplayFor(modelItem => item.Gen_Name)</td>
                                                <td style="text-align:center">@Html.DisplayFor(modelItem => item.Gen_Member)</td>
                                                <td style="text-align:center">@Html.DisplayFor(modelItem => item.Gen_Year)</td>
                                                <td style="text-align:right"><strong>@Html.DisplayFor(modelItem => item.Gen_Fee)</strong></td>
                                                <td style="text-align:center">
                                                    <button type="button" class="btn btn-success btn-sm  modal-link"
                                                            data-targeturl="@Url.Action("showdetails","Generations",new { id = item.Gen_NO })">
                                                        รายละเอียด
                                                    </button>
                                                    @*<button class="btn btn-info" type="button" data-toggle="modal" data-target="#myModal"><i class="fa fa-list-ul"></i> รายละเอียด</button>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {

            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();

                $("#modal-container").remove();

                $.get($(this).data("targeturl"), function (data) {

                    $('<div id="modal-container" class="modal fade" role="dialog">' +
                        '<div class="modal-dialog">'+
                        '<div class="modal-content" id= "modalbody" >'+
                        data + '</div></div>').modal();

                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#example1').DataTable({
                scrollCollapse: true,
                autoWidth: false,
                responsive: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Thai.json"
                },
                columnDefs: [{
                    targets: "datatable-nosort",
                    orderable: false
                }]
            });
        });
    </script>


}