@model IEnumerable<CSManagement.Models.Generation>

@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gen_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Short_Course.SC_NameTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gen_Member)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gen_MemberMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gen_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gen_Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gen_Fee)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gen_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Short_Course.SC_NameTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gen_Member)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gen_MemberMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gen_Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gen_Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gen_Fee)
            </td>
            <td>
                @Html.ActionLink("รายละเอียด", "DetailsUser", new { id = item.Gen_NO }) 
            </td>
        </tr>
    }

</table>

