@model CSManagement.Models.Generation
<style>
    .col1 {
        width: 25%;
    }

    .col2 {
        width: 75%;
    }
</style>

<div class="modal-header" style="background-color:#F39C12">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <p4 class="modal-title" style="letter-spacing: 0px; font-size: 25px;color:white">รายละเอียดหลักสูตร</p4>
</div>
<div class="modal-body">
    <table class="table table-bordered" style="width: 100%">
        <tbody>
            <tr>
                <th class="col1" style="text-align: center">@Html.DisplayNameFor(model => model.Short_Course.SC_NameTH)</th>
                <td class="col2">@Html.DisplayFor(modelItem => Model.Short_Course.SC_NameTH)</td>
            </tr>
            <tr>
                <th style="text-align: center">@Html.DisplayNameFor(model => model.Gen_Name)</th>
                <td>@Html.DisplayFor(modelItem => Model.Gen_Name)</td>
            </tr>
            <tr>
                <th style="text-align: center">@Html.DisplayNameFor(model => model.Gen_Location)</th>
                <td>@Html.DisplayFor(modelItem => Model.Gen_Location)</td>
            </tr>
            <tr>
                <th style="text-align: center">@Html.DisplayNameFor(model => model.Gen_Status1.Gen_Name)</th>
                <td style="color: @(Model.Gen_Status1.Gen_Name == "เปิดรับสมัคร" ? "forestgreen" : "red")">@Html.DisplayFor(modelItem => Model.Gen_Status1.Gen_Name)</td>
            </tr>
            <tr>
                <th style="text-align: center">รายะเอียดทั้งหมด</th>
                <td>
                    <a href="@Url.Action("forpdfview", "Projects")?id=@Model.Gen_PDF">
                        เปิดอ่าน
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p4>
        รายะเอียด
    </p4>
    <h5>
        @Html.DisplayFor(modelItem => Model.Short_Course.SC_Details)
    </h5>
</div>
<div class="modal-footer">
    <a class="btn btn-success" href="@Url.Action("Registers", "Generations", new {id = Model.Gen_NO})"><i class="fa fa-plus"></i>ลงทะเบียน</a>

    <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
</div>
